html{
    scroll-behavior: smooth;
}



:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --grey: #6b7280;
    --light : #EEE ;
    --pink: #ec4899;
}

body{
    height: auto;
    width: auto;
    max-width: 1000pt;
    max-height: 800pt;
}

.header{
    width: 1000pt;
    height: 80pt;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-end;
    color: black;
    align-items: flex-end;
}


.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--dark);
    color: white;
    padding: 10px;
    width: auto;
    position: fixed;
}

.nav > a {
    color: white;
}

hr {
    border: black solid 1px;
}

.container1 {
    height: 400pt;
    width: 1000pt;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    background-size: contain;
    background-image: url(coding.jpg);
}



.infoBlock {
    height: 300pt;
    width: 200pt;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    border-radius: 10px;
    color: black;
    text-align: center;
    
}

.infoBlock > h2 {
    padding: 10pt;
}

.container2{
    height: 400pt;
    width: 1000pt;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    
}

.education{
    background-color: white;
    height: 300pt;
    width: 450pt;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    border: black solid 1px;
    border-radius: 10px;
}

.workExperience{
    background-color: white;
    height: 300pt;
    width: 450pt;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    border: black solid 1px;
    border-radius: 10px;

}

.workEducationContainer {
    height: 350pt;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.h2 {
    width: 100%;
    height: 50pt;
    background-color: white;
    text-align: center;
}

.container3{
    height: 400pt;
    width: 1000pt;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
}
.container4{
    height: 400pt;
    width: 1000pt;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
}


.fadeInUp{
    -webkit-animation: fadeInUp 1.2s both;
    -moz-animation: fadeInUp 1.2s both;
    -o-animation: fadeInUp 1.2s both;
    animation: fadeInUp 1.2s both;
}



@-webkit-keyframes fadeInUp {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInUp {
    0%{
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInUp {
    0%{
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInLeft{
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
}

@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}